html,
body {
    height: 100%;
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid black;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    /*min-width: 10px;
    min-height: 20px;
    display: inline-block;*/
}

.cell {
    border: 1px solid gray;
    flex: 1 1 auto;
}